body {
  background-color: beige;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

div {
  background-color: firebrick;
}

.white-text {
  color: white;
}

#navbar li{
  list-style-type: none;
  display: inline-block;
  margin-top: 0;
}


#navbar li a{
  display: block;
  width: 120px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#navbar {
  width: 100%;
  background-color: darkslategray;
}

#navbar li a:hover{
  background-color: black;
}
